.timeline{
    width: 50%;
}
.entericon{
    transform: rotate(90deg);
    color: #2f54eb;
    font-size: 22px;
    margin-right: 10px;
}
@media screen and (max-width: 750px){
    .timeline{
        width: 100% !important;
    }
}
@media screen and (max-width: 500px){
    .exspanHeader2{
        display: none;
    }
}

