.site-layout-sub-header-background {
    background: #fff;
}

.site-layout-background {
    background: #fff;
}
.logo{
    user-select: none;
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0);
    font-family:Consolas, 'Liberation Mono', Menlo, Courier, monospace;
    color: #00448b;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    font-weight: bolder;
    /*box-shadow: 0 0 5px #0b12cd;*/
}
.minilogo{
    user-select: none;
    height: 32px;
    margin: 16px;
    background: rgba(38, 45, 95, 0);
    font-family:Consolas, 'Liberation Mono', Menlo, Courier, monospace;
    color: #00448b;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    font-weight: bolder;
}
.content{
    height: 100vh;
}